h1 {
	text-align: center;
}

.container {
	background-color: rgb(255, 255, 255);
	padding: 10px 0;
}

.marker {
	width: 200px;
	height: 25px;
	margin: 10px auto;
}

.red {
	background-color: hsl(0, 100%, 50%);
}

.green {
	background-color: hsl(120, 100%, 50%);
}

.blue {
	background-color: hsl(240, 100%, 50%);
}
